/* Styles */

div {
    background-color: #f6c0cb;
    color: black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;    
    padding: 10px;
    border: 1px solid;
    margin: 30px;
    border-color: blue;
}